<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thorn.bbs.mapper.MerchantInfoMapper">

    <resultMap type="com.thorn.bbs.entity.MerchantInfo" id="MerchantInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
        <result property="merchantName" column="merchant_name" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="balance" column="balance" jdbcType="NUMERIC"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="tunnelCode" column="tunnel_code" jdbcType="VARCHAR"/>
        <result property="tunnelName" column="tunnel_name" jdbcType="VARCHAR"/>
        <result property="channelFlag" column="channel_flag" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>